<div class="delivery-info">
  <ul>
    <li><span id='icon'><i class="fa-regular fa-person-dolly"></i></span><span id="text">Estimate Delivery USA : Max 8 Days <br> International Delivery 14 - 20 Days</span></li>
  </ul>
</div>